.Contact{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Section-title{
    font-size: 32px;
    font-weight: 700;
    background-color: honeydew;
    font-family: math;
}
 
.Contact-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}
 
.Contact-left{
    max-width: 60%;
    font-size: 20px;
}

.Download{
    background-color: #704c13;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.Download:hover {
    background-color: red;
}

.Download a {
    text-decoration: none;
    color: #ffe4c4;
}
 
@media only screen and (max-width: 720px) {
    .Contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Contact-left{
        max-width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .Download{
        font-size: 16px;
    }
}
    