.about{
    padding-bottom: 0px;
}

.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.picture{
    height: 352px;
    border-radius: 86%;
    border: 2px solid grey;
    color: black;
    background-color: thistle;

}
    
.about-info {
    font-size: 24px;

}

.info-name{
    color: indigo;
    font-size: 58px;
    font-family: math;
}

@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .picture{
        height: 280px;
        margin-top: 10px;

    }
     
    .about-info{
        font-size: 20px;
    }
    .info-name{
        font-size: 26px;
    }
}
